{% load static %}
<footer>
    <div class="padding">
        <div class="main">
            <div class="wrapper">
                <div class="fleft footer-text">
                    <span>Good Cook</span> &copy; 2011
                    <strong>Website Template by <a rel="nofollow" class="link" target="_blank" href="http://www.templatemonster.com/">TemplateMonster.com</a></strong>
                </div>
                <ul class="list-services">
                    <li>Link to Us:</li>
                    <li><a class="tooltips" title="facebook" href="#"></a></li>
                    <li class="item-1"><a class="tooltips" title="twitter" href="#"></a></li>
                    <li class="item-2"><a class="tooltips" title="linkedin" href="#"></a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>