<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>لیست کاربران</title>
    <style>
    th,td,table {
        border:2px solid black;
        text-align: center;
}
    tr:hover {
        background-color: gray;
        color: white;
    }
    body{
        background-color: cyan;
    }
    </style>
</head>
<body>
<table align="center">
<caption>لیست کاربران</caption>
    <tr>
        <th>تلفن</th>
        <th>ایمیل</th>
        <th>نام کاربر</th>
        <th>کد کاربر</th>
    </tr>
    <tr>
        <td>091438285</td>
        <td>saman@gmail.com</td>
        <td>سامان</td>
        <td>1</td>
    </tr>
       <tr>
        <td>091569285</td>
        <td>sepehr@gmail.com</td>
        <td>سپهر</td>
        <td>2</td>
    </tr>
       <tr>
        <td>099845223</td>
        <td>mojtaba@gmail.com</td>
        <td>مجتبی</td>
        <td>3</td>
    </tr>
</table>
</body>
</html>