{% extends 'template.html' %}
{% load static %}
{% block content %}
<div class="inner">
            <div class="main">
                <section id="content">
                    <div class="indent">
                    	<div class="wrapper">
                        	<article class="col-1">
                            	<div class="indent-left">
                                	<h3>Contact Form</h3>
                                    <div class="p3">
                                        <form id="contact-form" method="post" enctype="multipart/form-data" action="{% url 'contact' %}">
                                            {% csrf_token %}
                                            <fieldset>
                                                  <label><span class="text-form">Full Name:</span><input name="txtName" type="text" /></label>
                                                  <label><span class="text-form">E-mail:</span><input name="txtEmail" type="text" /></label>
                                                  <div class="wrapper">
                                                    <div class="text-form">Message:</div>
                                                    <div class="extra-wrap">
                                                        <textarea name="txtComment"></textarea>
                                                        <div class="clear"></div>
                                                        <div class="buttons">
                                                            <a class="button-2" href="#" onClick="document.getElementById('contact-form').reset()">Clear</a>
                                                            <a class="button-2" href="#" onClick="document.getElementById('contact-form').submit()">Send</a>
                                                        </div>
                                                    </div>
                                                  </div>
                                            </fieldset>
                                        </form>
                                    </div>
                                </div>
                                <div class="bg">
                                    <div class="padding">
                                    	<h3>Miscellaneous Info</h3>
                                        At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus.
                                    </div>
                                </div>
                            </article>
                            <article class="col-2">
                            	<h3 class="border-bot indent-bot">Our Contacts</h3>
                                <div class="img-indent-bot">
                                    <h6>USA</h6>
                                    <dl>
                                        <dt>8901 Marmora Road, Glasgow, D04</dt>
                                        <dd><span>Telephone:</span>  +1 959 603 6035</dd>
                                        <dd><span>FAX:</span>  +1 504 889 9898</dd>
                                        <dd><span>E-mail:</span><a href="#">mail@thomsander.com</a></dd>
                                    </dl>
                                </div>
                                <div class="img-indent-bot">
                                    <h6>Canada</h6>
                                    <dl>
                                        <dt>8901 Marmora Road, Glasgow, D04</dt>
                                        <dd><span>Telephone:</span>  +1 959 603 6035</dd>
                                        <dd><span>FAX:</span>  +1 504 889 9898</dd>
                                        <dd><span>E-mail:</span><a href="#">mail@thomsander.com</a></dd>
                                    </dl>
                                </div>
                                <div class="img-indent-bot">
                                    <h6>Great Britain</h6>
                                    <dl>
                                        <dt>8901 Marmora Road, Glasgow, D04</dt>
                                        <dd><span>Telephone:</span>  +1 959 603 6035</dd>
                                        <dd><span>FAX:</span>  +1 504 889 9898</dd>
                                        <dd><span>E-mail:</span><a href="#">mail@thomsander.com</a></dd>
                                    </dl>
                                </div>
                                <h6>Japan</h6>
                                <dl>
                                    <dt>8901 Marmora Road, Glasgow, D04</dt>
                                    <dd><span>Telephone:</span>  +1 959 603 6035</dd>
                                    <dd><span>FAX:</span>  +1 504 889 9898</dd>
                                    <dd><span>E-mail:</span><a href="#">mail@thomsander.com</a></dd>
                                </dl>
                            </article>
                        </div>
                    </div>
                </section>
                <div class="block"></div>
            </div>
        </div>
{% endblock %}